baseURL = "https://example.com/"
languageCode = "en"
title = "Project Digitalsheep"
theme = "memo"
paginate = 20

[params]
  author = "hugu"
  description = "memos, fragments, noise"

[taxonomies]
  tag = "tags"
  category = "categories"

[menu]
  [[menu.main]]
    name = "posts"
    url = "/posts/"
    weight = 1
  [[menu.main]]
    name = "archive"
    url = "/archive/"
    weight = 2
  [[menu.main]]
    name = "about"
    url = "/about/"
    weight = 3

[markup]
  [markup.goldmark.renderer]
    unsafe = true
